################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Katsumi/obj
/Katsumi/bin
/Katsumi/.vs
/.vs
